!!! 5
%html
    %head
        %meta{'http-equiv' => 'Content-Type', :content => 'text/html', 'charset' => 'UTF-8'}
    %body
        %h1 Welcome to StuddyBuddies!
        %p Hello #{@invitee.name}, #{@inviter.name} from #{@course.name} has invited you to be part of their study group.
        %a{:href => "http://study-buddies-manoa.herokuapp.com/accept_invitation/#{@invited_group.name}/#{@invitee.email}"} Join Group
        %a{:href => "http://study-buddies-manoa.herokuapp.com/deny_invitation/#{@invited_group.name}/#{@invitee.email}"} Deny Invitation